#canvas {
  width: 512px;
  height: 512px;
  margin-right: 5vw;

  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.header {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 60px;
}

.button {
  padding: 0;
  background-color: white;
  border: none;
}

.title {
  margin-left: 24px;
  font-size: 20px;
  font-family: "Roboto", "sans-serif";
}

.button__line-menu {
  margin-left: 8px;
}

.button__dot-menu {
  margin-right: 8px;
  margin-left: auto;
  padding: 4px 8px;
}

.tool-wrapper {
  width: 228px;
  margin-left: 30px;
  margin-bottom: 9vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.main {
  display: flex;
  justify-content: space-between;
}

.tools {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tools li:nth-of-type(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tools__item {
  font: normal 16px 'Roboto';
  padding: 16px;
  display: flex;
  align-items: center;
}

.tools__icon {
  margin-right: 35px;
}

h2 {
  font: normal 20px 'Roboto';
}

.resolution-box__item {
  font: normal 18px 'Roboto';
}

.resolution {
  margin-top: 20px;
  font-size: 22px;
}

.resolution-box {
  display: flex;
  flex-direction: column;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #000000;
  display: inline-block;
}

.dot_color_grey {
  background-color:#C4C4C4;
}

.dot_color_green {
  background-color: #41F795;
}

.dot_color_red {
  background-color: #F74141;
}

.dot_color_blue {
  background-color: #41B6F7;
}